
main{
    padding: 30px;
}

.player {
    display: flex;
    padding: 10px;
    width: 67vh;
    margin-left: 50vh;
    background-color: blueviolet;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 37px 37px 40px 40px;
}

img {
    border-radius: 25px;
    width: 500px;
    right: 500px;
}

audio {
    border: 2px solid black;
    border-radius: 30px;
    margin: 15px 0px 5px 0px;
    width: 500px;
}


.codigo-fonte{
    border: 1px solid black;
    margin: 20px 12% 0px 12%;
    padding: 25px 0px 25px 0px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bolder;
    background-color: aqua;
}


.atributos {
    border: 1px solid black;
    margin: 20px 12% 20px 12%;
    padding: 25px 25px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bolder;
    background-color: chartreuse;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

p {
    margin: 0px 5px;
}

