hr {
    margin-left: 25%;
    width: 600px;
}

h2 {
    margin: 10px 0px 10px 0px;
}

p {
    margin: 9px 0px 9px 0px;
}

.ordem {
    margin: 15px 5% 15px 5%;
    padding: 25px;
    border-radius: 25px;
    background-color: aqua;
}

.Seletores-e-Classes {
    margin: 15px 5% 15px 5%;
    padding: 25px;
    border-radius: 25px;
    background-color: aqua;
}

.botao1 {
    background-color: green;
}

.botao2 {
    background-color: blue;
}

.botao3 {
    background-color: blueviolet;
}

.botao4 {
    background-color: brown;
}

.botao5 {
    background-color: chocolate;
}

/* Opacity */
.opacity_1 {
    opacity: 0.0;
}

.opacity_2 {
    opacity: 0.05;
}

.opacity_3 {
    opacity: 0.1;
}

.opacity_4 {
    opacity: 0.2;
}

.opacity_5 {
    opacity: 0.3;
}

.opacity_6 {
    opacity: 0.4;
}

.opacity_7 {
    opacity: 0.5;
}

.opacity_8 {
    opacity: 0.6;
}

.opacity_9 {
    opacity: 0.7;
}

.opacity_10 {
    opacity: 0.8;
}

.opacity_11 {
    opacity: 0.9;
}

.opacity_12 {
    opacity: 1;
}


/* Efeito Dropdown */

ul {
    background-color: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


li {
    float:left;
}


li a, .dropbtn {
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}


li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}


li.dropdown {
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 150px;
}


.dropdown-content a{
    color: black;
    display: block;
    text-align: left;
    border: 1px solid aqua;
}


.dropdown-content a:hover {
    color:rgb(145, 2, 2);
    background-color:red;
    font-size: 24px;
    letter-spacing: 2px;
}


.dropdown:hover .dropdown-content {
    display: block;
}
   
/* Efeito card */
.efeito-texto-em-card{
    width: 18%;
    height: auto;
    box-shadow: 0 4px 8px 0 black;
}

.reduzido{
    margin-bottom: 0;
    padding-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 30px;
}

.efeito-texto-em-card:hover .reduzido{
    white-space: normal;
}