
*{
    margin: 0px;
    padding: 0px;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
}

h3 {
    margin-left: 30px;
}

.ordem {
    margin: 15px 5% 15px 5%;
    padding: 25px;
    border-radius: 25px;
    background-color: aqua;
}

.variaveis {
    margin: 15px 5% 15px 5%;
    border-radius: 25px;
    padding: 15px;
    background-color: aqua;
}

.tipo-de-bordas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
}

.Border-solid {
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 110px;
    height: 20px;
    border: 15px solid black;
}
.Border-dotted {
   text-align: center;
    margin: 10px;
    padding: 5px;
    width: 110px;
    height: 20px;
    border: 15px dotted black;
}
.Border-dashed {
   text-align: center;
    margin: 10px;
    padding: 5px;
    width: 110px;
    height: 20px;
    border: 15px dashed black;
}
.Border-double {
   text-align: center;
    margin: 10px;
    padding: 5px;
    width: 110px;
    height: 20px;
    border: 15px double black;
}
.Border-groove {
   text-align: center;
    margin: 10px;
    padding: 5px;
    width: 110px;
    height: 20px;
    border: 15px groove black;
}
.Border-ridge {
   text-align: center;
    margin: 10px;
    padding: 5px;
    width: 110px;
    height: 20px;
    border: 15px groove black;
}
.Border-inset {
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 110px;
    height: 20px;
    border: 15px inset black;
}
.Border-outset {
   text-align: center;
    margin: 10px;
    padding: 5px;
    width: 110px;
    height: 20px;
    border: 15px outset black;
}
.Border-hidden {
   text-align: center;
    margin: 10px;
    padding: 5px;
    width: 110px;
    height: 20px;
    border: 15px hidden black;
}
.Border-none {
   text-align: center;
    margin: 10px;
    padding: 5px;
    width: 110px;
    height: 20px;
    border: 15px none black;
}

.lados-diferentes {
    padding: 15px;
    border-top: 15px solid red;
    border-left: 15px groove yellow;
    border-right: 15px double green;
    border-bottom: 15px dashed black;
}

.borda-Arredondada {
    padding: 15px;
    border: 15px solid blue;
    border-radius: 30px; 
}

img {
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

.text-align {
    font-size: 18px;
    margin: 10px 10px;
}

.fonts {
    margin: 10px 0px 10px 30px;

}

.Seletores-e-Classes {
    margin: 15px 5% 15px 5%;
    padding: 25px;
    border-radius: 25px;
    background-color: aqua;
}

.positionStatic, .positionrelative, .div_filho_Absolute, .div_filho_sticky{
    margin-left: 30px;
}

.googleFonts {
    padding-left: 30px;
    color: red;
    background-color: aqua;
}


/* Opacity imagem transparencia */
.container-pai{
    display: block;
    background-color: aqua;
    margin: 0px 90px 0px 90px;
    border-radius: 25px 25px;
}


.filho1{
    margin: 10px;
    height: auto;
    background-color:aqua;
    border-radius: 25px 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.opacity_1 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 0.0;
}

.opacity_2 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 0.05;
}

.opacity_3 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 0.1;
}

.opacity_4 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 0.2;
}

.opacity_5 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 0.3;
}

.opacity_6 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 0.4;
}

.opacity_7 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 0.5;
}

.opacity_8 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 0.6;
}

.opacity_9 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 0.7;
}

.opacity_10 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 0.8;
}

.opacity_11 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 0.9;
}

.opacity_12 {
    border: 3px solid yellow;
    margin: 10px;
    width: 15%;
    height: auto;
    opacity: 1;
}


.a-Opacity {
    margin-left: 30px;
    color:black;
    background-color: aqua;
}

.a-Opacity:hover {
    color: blueviolet;
    background-color: aqua;
}
/* Opacity imagem transparencia */


/* Efeito card */
.efeito-texto-em-card{
    width: 18%;
    height: auto;
    box-shadow: 0 4px 8px 0 black;
}