
h1 {
    padding: 13px 0px 13px 0px;
    text-align: center;
    color:white;
    font-size: 40px;
    letter-spacing: 5px;
}

h2 {
    padding: 5px 0px 15px 0px;
    text-align: center;
}

h3 {
    margin-top: 15px;
    margin-left: 20px;
}

p {
    padding-bottom: 5px;
    margin: 0px 0px 0px 20px;
}

img {
    margin-left: 10px;
}