* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: red;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    padding: 20px;
    text-align: center;
}

.nav {
    background-color: #333;
    overflow: hidden;
}

.nav a {
    font-size: 17px;
    color: white;
    padding: 10px 38px;
    float: left;
    display: block;
    text-decoration: none;
}

.section {
    background-color: rgb(201, 28, 28);
    float: left;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 16px;
}

.footer {
    font-size: 19px;
    background-color:#333;
    text-align: center;
    padding: 15px;
    color: white;

    display: flex; /* Ativa o Flexbox */
    justify-content: center;
    height: 55px;
}
.footer .baixoVoltarPaginaPrincipal {
    width: 137px;
    height: 29px;
    padding: 3px;
}

