
* {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 13px 0px 13px 0px;
    text-align: center;
    color:white;
    font-size: 40px;
    letter-spacing: 5px;
}

.tituloPrincipal {
    color: black;
}

h2 {
    padding: 15px 0px 10px 0px;
    text-align: center;
}

h3 {
    padding-left: 30px;
}

.img-grid-template-areas {
    width: 50%;
    height: 10%;
    padding: 30px;
}

pre, code{
    margin-left: 40px;
    text-align: left;
    font-size: 16px;
    font-weight: bolder;
}