
.tituloPrincipal {
    color: black;
    text-align: center;
    margin: 0px 0px 15px 0px;
}

main {
    height: 100vh;
}

header, a{
    padding: 2px 8px 2px 8px;
    margin-right: -3px;
    font-size: 17px;
}