*{
    margin: 0px;
    padding: 0px;
}

main {
    height: 100vh;
    background-color:white;
}

h1 {
    padding: 10px;
    font-size: 39px;
}

.title-black{
    color: black;
}

main h1 a{
    font-size: 25px;
    color: black;
    background-color: white;
}

main h2 a{
    font-size: 25px;
    color: black;
    background-color: white;
}