* {
  margin:0;
  padding: 0;
}

body {
  height: 100%;
  margin: 20px 40px 20px 40px;
  background-color: #00C896;
  border: 1px solid rgba(255, 255, 255, 0.171);
  border-radius: 25px;
  box-shadow: 0px 0px 40px black;
}

main {
  background-color: white;
}

header {
  border-radius: 23.5px 23.5px 0px 0px;
  background-color: black;
  height: 95px;
}

.menu, a {
  text-decoration: none;
  padding-bottom: 0px;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  background-color: black;
  display: inline;
  text-decoration: none;
}

a:hover {
  background-color: white;
  padding: 3px 7px 0px 7px;
  border-radius: 10px 10px 0px 0px;
  color: black;
}

h1 {
  padding: 23px 0px 3px 0px;
  text-align: center;
  color:white;
  font-size: 40px;
  letter-spacing: 5px;
}

.title-black{
  color: black;
}

h2 {
  margin-left: 30px;
}

p {
  margin-left: 30px;
}

.frase-ded-efeito {
  text-align: center;
}

.despedida {
  text-align: center;
}

footer {
  height: 58px;
  background-color: black;
  border-radius: 0px 0px 25px 25px;
}

