
*{
    margin: 0px;
    padding: 0px;
}

main {
    padding: 20px 20px;
}

.cabecalho {
    background-color: aqua;
    margin: 15px 20px 15px 20px;
    padding: 20px;
    border-radius: 30px;
}

.cabecalho1 {
    text-align: center;
    color: black;
    margin-top: 3px;
    margin-bottom: 6px;
}

.paragrafo {
    background-color: aqua;
    margin: 15px 20px 15px 20px;
    border-radius: 30px;
    padding: 20px;
}

.formacaoTexto {
    background-color: aqua;
    margin: 15px 20px 15px 20px;
    border-radius: 30px;
    padding: 20px;
}

.citacoes {
    background-color: aqua;
    margin: 15px 20px 15px 20px;
    border-radius: 30px;
    padding: 20px;
}

p {
    margin-bottom: 6px;
}