* {
    margin: 0px;
    padding: 0px;
}

main {
    height: 100%;
    padding-bottom: 20px;
    background-color: white;
}

h2, p{
    padding-top: 0px;
    margin: 0px;
    text-align: center;
}

.container-1 {
    display: flex;
    height: 800px;
    margin: 20px 100px 0px 100px;
    background-color: rgb(137, 137, 201);
    border-radius: 40px;
}

.video-1 {
    z-index: 1;
    position: absolute;
    top: 290px;
    right: 360px;
    width: 750px;
    height: 400px;
    border-radius: 30px;
}

.container1-filho {
    position: relative;
    width: 750px;
    height: 300px;
    top: 470px;
    left: 175px;
    border-radius: 30px;
    background-color: blueviolet;

}


.atributos {
    background-color: rgb(137, 137, 201);
    width: 1140px;
    height: 300px;
    border-radius: 30px;
    margin: 20px 100px 20px 100px;
    padding: 15px 0px 15px 0px;
}

.atri-p{
    font-size: 20px;
    text-align: left;
    margin:3px 0px 0px 10px;
    padding:5px 0px 5px 30px;

}


.container-2 {
    width: 1100px;
    margin:3px 0px 0px 110px;
    padding:15px 15px 15px 15px;
    border-radius: 30px;
    background-color: blueviolet;
}

iframe {
    width: 750px;
    height: 400px;
    padding: 10px 150px 15px 150px;
}


.container-3 {
    width: 1100px;
    margin:50px 0px 0px 110px;
    padding:15px 15px 15px 15px;
    border-radius: 30px;
    background-color: rgb(137, 137, 201);
}


.video-Iframe {
    width: 1130px;
    margin:40px 0px 20px 110px;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color: blueviolet;
}

iframe {
    padding: 30px;
    height: 200px;
}

pre {
    text-align: center;
}
